body {
  background-color: $bg-primary;
  color: $text-primary;
  border-color: $border-color;

  .about {
    img.light {
      display: none;
    }
    img.dark {
      display: inline;
    }
  }

  .post p {
    color: $text-secondary;
  }

  .social [class^="icon-"] {
    color: $text-primary;
  }

  #posts-label {
    color: $text-secondary;
    border-bottom: 1px solid $bg-tertiary;
  }

  @import 'ext/solarized-dark';
  .highlight, .highlight * {
    background-color: $bg-secondary;
    color: $text-secondary;
  }

  div.highlight-dark {
    padding: 5px 20px;
  }

  pre.highlight-dark, code {
    font-family: $font-mono;
    line-height: 1.4em;
    tab-size: 4;
  }

  .post-categories {
    li {
      background-color: $bg-tertiary;
      color: $text-primary;
    }
  }

  a {
    color: $accent-primary;
  }

  #title a {
    color: $text-primary;
    &:hover {
      color: $accent-primary;
    }
  }

  .posts-labelgroup {
    border-bottom: 1px solid $bg-tertiary;

    .search-results {
      background-color: $bg-tertiary;

      a {
        color: $text-primary;

        &:hover {
          background-color: $bg-secondary;
        }
      }
    }

    .search-section i {
      background-color: transparent;
    }
  }

  .posts-labelgroup:hover {
    i {
      color: $text-primary;
    }

    input {
      color: $text-primary;
    }
  }

  .posts-labelgroup.focus-within {
    .search-section {
      background-color: $bg-tertiary;
    }

    input {
      color: $text-primary;
    }

    i {
      color: $text-primary;
    }
  }
}

table {
  th, td {
    border: 1px solid $bg-tertiary;
  }
  th {
    background-color: $bg-secondary;
  }
}
